{% extends 'base.html' %}
{% block title %}
    About Department project
{% endblock %}
{% block content %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark" style="color:white">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1>About Department project</h1>
        <p>Flask application for epam interview. Was made by Pavlo Ryndin.</p>
        <br>
        <p>Functionality of the application can provide management groups of employees in company.</p>

    </div>
    <div class="product-device box-shadow d-none d-md-block"></div>
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>
{% endblock %}