{% extends 'base.html' %}
{% block title %}
Users
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark">
                <table class="table table-hover table-dark">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Username</th>
                            <th scope="col">Name</th>
                            <th scope="col">Surname</th>
                            <th scope="col">E-mail</th>
                            <th scope="col">Admin status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in users %}
                            <tr data-href="{{ url_for('user' ,uuid=i.uuid) }}">
                                <th scope="row">{{ i.id }}</th>
                                <td>{{ i.username }}</td>
                                <td>{{ i.name }}</td>
                                <td>{{ i.surname }}</td>
                                <td>{{ i.email_address }}</td>
                                <td>{% if i.is_admin %}
                                    Yes
                                    {% else %}
                                    No
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-4">
            <div class="position-relative overflow-hidden p-md-5 m-md-3 text-center bg-dark">
                <h1>Register a new user</h1>
                <form action="{{ url_for('ausers') }}" method="POST">
                <input type="text" name="username" placeholder="Enter username" required>
                <input type="password" name="password" placeholder="Enter password" required>
                <input type="text" name="name" placeholder="Enter name" required>
                <input type="text" name="surname" placeholder="Enter surname" required>
                <input type="email" name="email_address" placeholder="Enter email" required>
                <br>
                <input type="checkbox" name="is_admin" value="True">
                <label for="admin">Admin</label><br>
                <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}