{% extends 'base.html' %}
{% block title %}
{{ department_obj.title }}
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark">
                <table class="table table-hover table-dark">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Surname</th>
                            <th scope="col">Roles</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in users_and_roles %}
                            <tr data-href="{{ url_for('user' ,uuid=i.uuid) }}">
                                <th scope="row">{{ loop.index }}</th>
                                <td>{{ i.name }}</td>
                                <td>{{ i.surname }}</td>
                                <td>
                                    {% for j in users_and_roles[i] %}
                                        <button class="btn btn-outline-primary btn-sm mb-1">{{ j.title }}
                                        </button>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-4">
            <div class="position-relative overflow-hidden p-md-5 m-md-3 text-center bg-dark">
                <h2>{{ department_obj.title }}</h2>
                <p>{{ department_obj.description }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}