{% extends 'base.html' %}
{% block title %}
{{ user.surname }} {{ user.name }}
{% endblock %}
{% block content %}
{% if user.is_admin %}
<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark">
                <div class="container">
                    {% if dep_and_roles %}
                    <p class="h4 p-5">Departments:</p>
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-3">
                            <div class="list-group" id="list-tab" role="tablist">
                            {% for i in dep_and_roles.keys() %}
                                <a class="list-group-item list-group-item-action" data-toggle="list" href="#{{ i.replace(" ","") }}" role="tab" >{{ i }}</a>
                            {% endfor %}
                            </div>
                        </div>
                        <div class="col-3">
                        <div class="tab-content" id="nav-tabContent">
                            {% for i in dep_and_roles.keys() %}
                                <div class="tab-pane fade" id="{{ i.replace(" ","") }}" role="tabpanel" >
                                    {% for j in dep_and_roles[i] %}
                                    <a href="#" class="btn btn-outline-primary btn-sm mb-1" role="button">{{ j.title }}</a>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                        </div>
                        <div class="col-3"></div>
                    </div>
                    {% else %}
                    <p class="h3 p-5">No departments</p>
                    {% endif %}
                </div>
                <p class="h4 p-5">This month's salaries: {{ sum_of_paycheck }}$ </p>
            </div>
        </div>
        <div class="col-4">
            <div class="position-relative overflow-hidden p-md-5 m-md-3 text-center bg-dark">
                <form action="{{ url_for('user' ,uuid=user_view.uuid) }}" class="ajax_put">

                <label for="fusername">Username:</label>
                <input type="text" id="fusername" name="username" value="{{ user_view.username }}" required>
                <br>
                <label for="fname">Name:</label>
                <input type="text" id="fname" name="name" value="{{ user_view.name }}" required>
                <br>
                <label for="fsurname">Surname:</label>
                <input type="text" id="fsurname" name="surname" value="{{ user_view.surname }}" required>
                <br>
                <label for="femail_address">Email:</label>
                <input type="email" id="femail_address" name="email_address" value="{{ user_view.email_address }}" required>
                <br>
                <label for="fpassword">New password:</label>
                <input type="password" id="fpassword" name="password">
                <br>
                <label for="fadmin">Admin:</label>
                <input type="checkbox" id="fadmin" name="is_admin" value="True" {% if user_view.is_admin %} checked {% else %}{% endif %}>
                <br>
                <input type="submit" value="Update">
                </form>
            </div>
        </div>
    </div>
    <form action="{{ url_for('user' ,uuid=user_view.uuid) }}" class="ajax_del">
        <input class="btn btn-danger" type="submit" name="delete" value="Delete User">
     </form>
</div>

{% else %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark">
        <div class="col-md-5 p-lg-3 mx-auto my-5">
            <p class="display-4">{{ user_view.surname }} {{ user_view.name }}</p>
            <p class="h2 p-5">Email : {{ user_view.email_address }}</p>
        </div>
        <div class="container">
            {% if dep_and_roles %}
            <p class="h4 p-5">Departments:</p>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-3">
                    <div class="list-group" id="list-tab" role="tablist">
                    {% for i in dep_and_roles.keys() %}
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#{{ i.replace(" ","") }}" role="tab" >{{ i }}</a>
                    {% endfor %}
                    </div>
                </div>
                <div class="col-3">
                <div class="tab-content" id="nav-tabContent">
                    {% for i in dep_and_roles.keys() %}
                        <div class="tab-pane fade" id="{{ i.replace(" ","") }}" role="tabpanel" >
                            {% for j in dep_and_roles[i] %}
                            <a href="#" class="btn btn-outline-primary btn-sm mb-1" role="button">{{ j.title }}</a>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
                </div>
                <div class="col-3"></div>
            </div>
            {% else %}
            <p class="h3 p-5">No departments</p>
            {% endif %}
        </div>
    </div>
{% endif %}
{% endblock %}